.danh-sach-muc{
        list-style: none;
        display: flex;
        margin: 0px;
        }

         .menu{background-color: #2fa4e7;
            margin: 0px;
            display: flex;

        }

        .muc{color: white;
            padding: 15px;
        }

        a{
            color: white;
            text-decoration: none;}

            .khoi-trai{
            width: 20%;
            height: 500px;
    
            border-right: 1px solid  #2fa4e7;
        }

        .khoi-phai{
            
            width: 80%;
            height: 500px;
        }

          main {display: flex;}
